.body_left_container {
  width: 33%;
  height: 90%;
  overflow: auto;
  margin: 2rem;
}

.body_left_container h3 {
  color: #1dd05d;
}

.recently_played_song {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.recently_played_info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
  color: #7b7b7b;
}

.recently_primary {
  color: #d0cbcb;
}
