.body_left_container {
  width: 33%;
  height: 90%;
  margin: 2rem;
}

.recently_played_header {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.recently_played_header h5 {
  color: #7b7b7b;
  width: max-content;
}

.recently_played_header h5:hover {
  color: #1dd05d;
  cursor: pointer;
}

.clear {
  color: #d0cbcb;
  margin-left: 10px;
  font-size: 1.5rem;
}

.clear:hover {
  color: #1dd05d;
  cursor: pointer;
  transform: scale(1.1);
}

.body_left_container h3 {
  color: #1dd05d;
}

.recently_played_song {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.recently_played_song:hover {
  cursor: pointer;
}

.recently_played_info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
  color: #7b7b7b;
}

.recently_primary {
  color: #d0cbcb;
}

.recently_played_list {
  overflow: auto;
  padding-top: 60px;
}
