.results_container {
  max-height: 40%;
  overflow-y: auto;
}
.result_container {
  display: flex;
  margin: 10px;
  align-items: center;
  cursor: "pointer";
}

.results_song {
  color: #5e5e5e;
  margin-left: 10px;
}

.result_primary {
  color: #d0cbcb;
}

.results_container::-webkit-scrollbar {
  width: 0.5em;
}

.results_container::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  outline: 1px solid #5e5e5e;
  border-radius: 10px;
}
