.results_container {
  max-height: 40%;
  overflow-y: auto;
}
.result_container {
  display: flex;
  padding-bottom: 5px;
  margin: 10px;
  align-items: center;
  width: max-content;
  border-bottom: 1px solid #181818;
}

.results_song {
  color: #5e5e5e;
  margin-left: 10px;
}

.result_primary {
  color: #d0cbcb;
}

.results_container::-webkit-scrollbar {
  width: 0.5em;
}

.results_container::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  outline: 1px solid #5e5e5e;
  border-radius: 10px;
}

.result_container:hover {
  border-bottom: 1px solid #1dd05d;
}

.search_input {
  background: #5e5e5e;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.search_input::placeholder {
  color: #fff;
}

.search_input:focus {
  background: #5e5e5e;
  color: #fff;
}
