body {
  height: 100vh;
  background: #181818;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  outline: 1px solid #5e5e5e;
  border-radius: 10px;
}
